body{
    font-family: 'Inconsolata', Serif;
}

#links>div>a{
    text-decoration: none;
    color: black;
}

#links>div>span{
    padding: 0px 10px;
    cursor: pointer;
}

#addButton{
    cursor: pointer;
}